.chat-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    border: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

.card-header {
    background-color: #4d94ff; /* Blue header */
    color: white;
    border-bottom: none;
}

.card-body {
    padding: 10px;
    background-color: rgb(227, 225, 225);
}

.chat-window {
    height: 400px; /* Adjust height as needed */
    overflow-y: hidden;
}

.chat-messages {
    height: 320px; /* Adjust max height to limit scroll area */
    width: 100%;
    overflow-y: auto;
}

.input-group {
    margin-top: 10px;
}
.form-control:focus{
    box-shadow: none;
}

.input-group-append button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #4d94ff; /* Blue send button */
    border-color: #4d94ff;
    color: white;
}

.input-group-append button:hover {
    background-color: #2662b3; /* Darker blue on hover */
    border-color: #2662b3;
}

.input-group-append button:focus {
    box-shadow: 0 0 0 0.2rem rgba(77, 148, 255, 0.5); /* Light blue shadow on focus */
}