/* body, html {
    height: 100vh;
    width: 100%;
    margin: 0;
  } */
  
  .chat-page {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2466a8;
  }
  
  .card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: black;
  }
  .card-header{
    width: 100%;
    height: 10%;
    border-bottom: 3px solid #2466a8;
    color: #2466a8;
  }
  
  .card-body {
    width: 100%;
    height: 90%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: hidden;
    padding: 10px;
  } 
  
  .chat-messages{
    width: 100%;
    height: 92%;;
    display: flex;
    flex-direction: column;
    overflow:auto;
    padding: 10px;
  }
  .chat-messages::-webkit-scrollbar {
    width: 5px;
}

.chat-messages::-webkit-scrollbar-thumb {
    background: #2466a8;
    border-radius: 5px;
}

  .input-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .input-group-div{
    display: flex;
    flex-direction: row;
    width: 60%;
    padding: 10px;
    border-radius: 20px;
    border: 3px solid  #2466a8;
  }

  .upload-icon{
    font-size: 40px;
  }

  .form-control{
    background-color: black;
    word-wrap: break-word;
    border: none;
  }

  .form-control:focus{
    box-shadow: none;
    background-color: black;

  }
  